/* Although not required in some instances, 
I specifically targeted various items just to make it 
easier to verify template/example was followed precicesly*/

html {
    background-color: rgba(122, 191, 191, .5);
    color: #000000;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;

}

body {
    width: 375px;
    background-color: #F2F2F2;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    width: 375px;
    text-align: center;
}

section {
    border: 2px solid black;
}


/* START - Typography described in directions */

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

nav a, nav span, nav li, footer{
    font-size: 20px;
}

p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

dt{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: bold;
}
/* END - Typography described in directions */






/* START - menu section related css */

#menusection nav{
    position:fixed;
    top: 0;
}

#menusection {
    width: 375px;
    height: 160px;
    background-color: #F2F2F2;
    border: none;
}


#menusection li{
    flex: 100%;
}

#menusection h2 {
    display: none;

}

#menusection img{
    display: none;
}

#menusection nav li {
    list-style: none;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #E3F2FD;
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    overflow: hidden;
    max-height: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0;
    width: 375px;
    background-color: white;
    transition: max-height .2s ease-out;
}

#menuoptions {
    margin-top: 20px;
}

#menuoptions li a:hover{
    color: black;
    background-color: #EB5428;
}

#menuoptions li a {
    text-decoration: none;
    color: #EB5428;
    width: 375px;
}

#menuoptions li {
    text-decoration: none;
    width: 375px;
    padding: 10px;
}

#hamlabel {
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    position: fixed;
    top:0;
    margin: 0;
    padding-bottom: 0px;
    z-index: 1;
    background-image: url("https://github.com/georgeschultz1998/recipe/blob/main/images/hamburgerv5.png?raw=true");
    background-size: 90px 80px;
    width: 90px;
    height: 80.5px;

}

#hamburger{
    margin: 0;
    width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    z-index: -1;
}

label span{
    margin: 0;
    z-index: 1;
    position: fixed;

}
label span p{
    display: visible;
    z-index: 1;
    position: fixed;
    top:0;
    width: 90px;
    text-align: center;
    margin-top: 55px;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
}


#tools{
    position:fixed;
    top: 0;
    margin-left: 60px;
    width: 260px;
    height: 70px;
    padding-top: 10px;
    background-color: #EB5428;
    
}

#tools p{
    display: none;
    color: black;
}

#user{
    color: black;
    position:fixed;
    top: 0;
    margin-left: 285px;
    width: 90px;
    height: 65px;
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: white;
}

#user p{
    color: black; 
    font-weight: 900;
    padding-top: 38px;
    position: fixed;
    top: 0;
    width: 90px;
}


#searchbar{
    margin-top: 110px;
    display: grid;
    grid-template-areas: "input button";
    border: 2px solid #EB5428;
    width: 285px;
    margin-left: 43px;
    height: 35px;
    background-color: white;
    z-index: -1;

}

#searchbar p{
    display: hidden;
}

#searchbar input{
    display: block;
    grid-area: input;
    width: 235px;
    height: 32px;
    border: none;
    border-color: transparent;
    outline: none;
}
#searchbar input:focus{
    border: none;
    border-color: transparent;
}

#searchbar button{
    grid-area: button;
    background-color: #EB5428;
    border: none;
    border-color: transparent;
    pointer-events: auto; 
}

/* END - menu section related css */







/* START - street section related css */
#streetsection {
    background-color: #F2F2F2;
    padding-top: 0px;
    height: 500px;
    flex: 1;
    order: 2;
    border: none;

    display: grid;
    grid-template-areas: 
    "streeth1"
    "streetnav"
    "streetimg"
    "streettext"
    ;
}
#streeth1{
    margin-top: 5px;
    grid-area: streeth1;
}

#streetnav{
    height: 80px;
    background-color: #F2F2F2;
    grid-area: streetnav;
}


#streetnav ul {
    width: 375px;
    max-height: 200px;
    ;
    display: grid;
    grid-template-columns:93.75px 93.75px 93.75px 93.75px;
    list-style:none;
    justify-content: center;
}

#streetnav ul li a{
    width: 93.75px;
    height: 80px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #EB5428;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}

#streetnav ul li a svg{
    order: 1;
    margin: 0;
    margin-left: 28px;
}

#streetnav ul li a p{
    order: 2;
    margin: 0;
}


#streetimg {
    width: 375px;
    grid-area: streetimg;
}

#streettext{
    grid-area: streettext;
    padding: 10px;
}

/* End - street section related css */

/* Start - detail section related css */
#detsection {
    width: 375px;
    height: 500px;
    background-color: #F2F2F2;
    flex: 1;
    order: 3;
}

/* END - detail section related css */

/* START - ingredient section related css */
#ingsection {
    width: 375px;
    height: 500px;
    background-color: #F2F2F2;
    flex: 1;
    order: 4;
}

#ingsection ul {
    max-height: 1000px;
}

/* END - ingredient section related css */

/* START - directions section related css */
#dirsection {
    width: 375px;
    height: 300px;
    background-color: #F2F2F2;
    flex: 1;
    order: 5;
}


/* END- directions section related css */

/* START - sides section related css */
#sidsection {
    width: 375px;
    height: 300px;
    background-color: #F2F2F2;
    flex: 1;
    order: 6;
}

/* END - sides section related css */

/* START - connect section related css */
#connectsection {
    background-color: #F2F2F2;
    width: 375px;
    flex: 1;
    order: 7;
}

#connectsection img {
    width: 100px;
}

/* END - connect section related css */



/* START - Included Menu Code for Mobile First Style (minus the bits you know how to do): */



/* END - Included Menu Code for Mobile First Style (minus the bits you know how to do): */

/* START - Included Menu Code for Mobile First Style (minus the bits you know how to do): */

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 0px;

}

input {
    display: none;
}

input:checked~ul {
    max-height: 1200px;
}

input:checked~label span {
    background: transparent;
}

input:checked~label span:before {
    transform: rotate(-45deg);
}

input:checked~label span:after {
    transform: rotate(45deg);
}

input:checked~label:not(.steps) span:before,
input:checked~label:not(.steps) span:after {
    top: 0;
}

/* END - Included Menu Code for Mobile First Style (minus the bits you know how to do): */
